* {
    box-sizing: border-box;
}

html {
    font-family: $font-main;
    font-size: $font-size;
    line-height: 1.2;
    overflow-y: scroll;
    letter-spacing: .1em;
    color: $color-gray;
}

h1 {
    font-family: $font-header;
    font-weight: 300;
    text-align: center;
    letter-spacing: .08em;
    @include lg-min {
        font-size: 3.75rem;
    }
    @include lg-md {
        font-size: 2.5rem;
    }
    @include md {
        font-size: 1.875rem;
    }
}

h2 {
    font-family: $font-header;
    letter-spacing: 0.1em;
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-primary;
}

a {
    text-decoration: none;
    color: $color-light;
}

.btn {
    display: flex;
    transition: background-color .5s;
    letter-spacing: .1em;
    justify-content: center;
    align-items: center;
}

.btn--light {
    border: 2px solid $color-light;
    background-color: rgba($color-light, .1);
    @include lg-min {
        font-size: 1.125rem;
        min-width: 250px;
        height: 60px;
    }
    @include lg-md {
        min-width: 200px;
        height: 50px;
    }
    @include md {
        min-width: 170px;
        height: 40px;
    }
}

.btn--primery {
    font-size: 1.125rem;
    height: 60px;
    border: 2px solid $color-primary;
    background-color: rgba($color-primary, .8);
    @include sm-min {
        min-width: 350px;
    }
    @include sm {
        min-width: 100%;
    }
}

.btn:hover {
    background-color: $color-accent;
}